:root {
  box-sizing: border-box;
  /* Fonts */
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  /* Colors */
  --primary-cl: #111;
  --secondary-cl: #fafafa;
  --accent-cl: #fd9222;
  --light-cl: #ffffff;
  --dark-cl: #1e1823;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

/* #region Base styles */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111111;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/* #endregion */

/* #region Common */
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

.btn {
  font-weight: 600;
  background-color: transparent;
}
.btn-accent {
  color: white;
  background-color: orange;
  border: 1px solid transparent;
}
.btn-light {
  color: white;
  border: 1px solid white;
}
.btn-dark {
  font-weight: 600;
  font-size: 18px;
  border-color: orange;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.accent {
  color: #fd9222;
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-titl,
.reviews-title,
.footer-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
/* #endregion */

/* #region Logo */
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-accent {
}
logo-accent {
  font-style: italic;
}
.logo-icon {
}
/* #endregion */

/* #region Header */
.header {
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

/* #endregion */

/* #region Socials */

.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}
/* #endregion */

/* #region Navigation */
.header-nav {
}
.nav {
}

.nav-list {
}
.nav-item {
}
.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-socials {
}
/* #endregion */

/* #region Hero */
.hero {
  background-color: rgba(17, 17, 17, 0.4);
}
.hero-title {
  box-sizing: content-box;
  width: 484px;
  height: 102px;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white);
}
.hero-list {
}
.hero-item {
}

.hero-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--white);
}
.hero-link-icon {
}
/* #endregion */

/* #region Benefits */
.benefits {
  background-color: #1e1823;
}
.visually-hidden {
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
.benefits-desc {
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion */

/* #region Ingridients */

.ingredients-list {
}
.ingredients-item {
}
.ingredients-ill {
}
.ingredients-caption {
}
/* #endregion */

/* #region Made */
.made {
}
.made-recipe {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
/* #endregion */

/* #region Products */
.products {
}
.products-list {
}
.products-item {
}
.products-caption {
}
.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-btn {
  font-weight: 600;
}
/* #endregion */

/* #region Bestsellers */
.bestsellers {
}
.bestsellers-list {
}
.bestsellers-item {
}
.bestsellers-caption {
}
.bestsellers-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion */

/* #region Reviews */
.reviews {
}
.reviews-list {
}
.reviews-item {
}
.reviews-caption {
}
.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
/* #endregion */

/* #region Footer */
.footer {
}
.footer-text {
  font-weight: 500;
  line-height: 1.28;
}
.footer-list {
}
.footer-item {
}
.footer-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.footer-caption {
}
.footer-address {
}
/* @endregion */
